<!DOCTYPE html>
<html>
  <head>
    <title>Pinthefail</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script type="text/javascript">
      window.logo = "<%= image_url('logo.png') %>";
    </script>
    <script type="text/javascript">
      window.dots = "<%= image_url('dots.png') %>";
    </script>
    <script type="text/javascript">
      window.pinface = "<%= image_url('pinface.png') %>";
    </script>
     <script type="text/javascript">
      window.pencil = "<%= image_url('pencil.png') %>";
    </script>
     <script type="text/javascript">
      window.plus = "<%= image_url('plus.png') %>";
    </script>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
